.panel-details-group{
    display:flex;
    flex-direction: column;
    p{
        margin: 0;
        padding: $s-size 0 0 0;

    }
}

// .panel-details-item{
// margin: 0;
// padding: $s-size 0;
// }

