.header {
    // opacity:0.5;
    background:$dark-blue;
    font-family: 'Montserrat';
    height: 120px;
    // width: 100%;
    background-image: url(https://66.media.tumblr.com/55500877cbd95a29c411c7f4bc94476e/tumblr_n7osqjpBKu1r6v8t0o1_1280.jpg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 120px;

   }

.header__content{
    display:flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 0.8px;
    padding: $s-size 0;
}

.header__title {
    color:white;
    text-decoration: none;
    // text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    h1{  // target all the h1 element under title, dot is for classname
        margin:0;
        letter-spacing: 1.2px;
        padding: $s-size;
        background-color: rgba(102, 102, 102,0.7);
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
}

.header__link {
    color:white;
    text-decoration: none;
    // :visited{
    //     color: red;
    // }
}

.header-container-column{
    display: flex;
    flex-direction: row;
}

