.header {
    background:$dark-blue;
}

.header__content{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: $s-size 0;
}

.header__title {
    color:white;
    text-decoration: none;
    h1{  // target all the h1 element under title, dot is for classname
        margin:0;
    }
}

.header__link {
    color:white;
    text-decoration: none;

}

.header__subtitle{
    :hover{
        background: $dark-blue;
        opacity:0.5;
    }
}