.peoplePage-img {
    height:100px;
    width:auto;
    max-width: 90px;
    margin: $s-size 0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-self: center;
    // display:block;
}

.peoplePage-info-column{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
    // margin-bottom:$m-size;
}
flex-wrap: wrap;
}
.peoplePage-info-item{
    width:15%;
    margin: 13px 0;
    align-self: center;
    @media (max-width: $desktop-breakpoint) {
        width:90%;
        // margin-bottom:$m-size;
    }
}
.long-item{
    width:20%;

}

.peoplePage-title{
    font-family:Linotype, Arial, sans-serif;
    padding:8px;
    color:darken(rgb(152, 187, 205),50%);
    background-image: linear-gradient(to right, rgba(152, 187, 205,0.8) , transparent);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    border-radius: 4px;

}

