.publication-container{
    display:flex;
    flex-direction: column;
}
.publication-list-item{
    margin:$s-size;
}
.publication-textarea{
    margin:$s-size;
    padding: $s-size;
    width:80%;
}
.publication-saveButton{
    margin:$s-size;
}
.edit-group{
    display:flex;
    flex-direction: row;
    justify-content: center;
}